[submodule "3rdparty/googletest"]
	path = 3rdparty/googletest
	url = https://github.com.cnpmjs.org/google/googletest.git
	branch = v1.10.x

[submodule "3rdparty/spdlog"]
	path = 3rdparty/spdlog
	url = https://github.com.cnpmjs.org/gabime/spdlog.git
[submodule "3rdparty/libcoroutine"]
	path = 3rdparty/libcoroutine
	url = https://github.com/NoGameNoLife00/libcoroutine
[submodule "3rdparty/jemalloc"]
	path = 3rdparty/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
